.shiny-split-layout>div {
    overflow: unset;
}
.shiny-split-layout {
    margin-top: 5px;
}
.navbar-brand {
  width: 15px;
 margin-right: 10rem;
}
.container, .container-fluid, .container-xl, .container-lg, 
.container-md, .container-sm {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
body {
 background-color: #e9ecef;
 font-size: 13px;
}
label {
 font-weight: 500;
   text-transform: initial;
}
.form-control {
 font-size: 13px;
 border-radius: 5px;
 background-color: #ffffff9c;
}
.btn {
    font-size: 11px;
}
.btn-primary {
  color: #ffffff;
  border: 1px solid #c9c9c9;
  background-color: #696f72;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #000;
    border: 1px solid #c9c9c9;
    background-color: #e9ecef;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 37%);
}
.form-control:focus {
    border: 1px solid #869bb1;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 65%);
}
.selectize-dropdown, .selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 2px 2px 0;
    z-index: 1000;
    background: #9bbddbd6;
    color: #000;
    border: 2px solid rgb(0 0 0 / 16%);
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0px -1px 6px 0px rgb(0 0 0 / 62%);
}
.btn-primary:hover {
    color: #ffffff;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 77%);}
    
.navbar.navbar-default {
    box-shadow: 0px 0px 9px 0px #0000006b;
    background-image: linear-gradient(270deg, #bed1e5, #ffffff94);
}
img {
 pointer-events: none;
 width: 75px;
}
.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    padding: 0;
    margin-bottom: -16px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-tabs>li>a, .navbar-light .navbar-nav .nav-pills>li>a, .navbar.navbar-default .navbar-nav .nav-link, .navbar.navbar-default .navbar-nav .nav-tabs>li>a, .navbar.navbar-default .navbar-nav .nav-pills>li>a, .navbar-light ul.nav.navbar-nav>li>a, .navbar.navbar-default ul.nav.navbar-nav>li>a {
    color: rgba(0,0,0,0.5);
    font-size: 15px;
    font-weight: 600;
    background-color: whitesmoke; 
    border-radius: 5px;
    margin-left: 10px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
   border: 1px solid #00000030;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .in>.nav-link, .navbar-light .navbar-nav .nav-tabs>li.show>a, .navbar-light .navbar-nav .nav-tabs>li.in>a, .navbar-light .navbar-nav .nav-pills>li.show>a, .navbar-light .navbar-nav .nav-pills>li.in>a, .navbar.navbar-default .navbar-nav .show>.nav-link, .navbar.navbar-default .navbar-nav .in>.nav-link, .navbar.navbar-default .navbar-nav .nav-tabs>li.show>a, .navbar.navbar-default .navbar-nav .nav-tabs>li.in>a, .navbar.navbar-default .navbar-nav .nav-pills>li.show>a, .navbar.navbar-default .navbar-nav .nav-pills>li.in>a, .navbar-light ul.nav.navbar-nav>li.show>a, .navbar-light ul.nav.navbar-nav>li.in>a, .navbar.navbar-default ul.nav.navbar-nav>li.show>a, .navbar.navbar-default ul.nav.navbar-nav>li.in>a, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-tabs>li.active>a, .navbar-light .navbar-nav .nav-pills>li.active>a, .navbar.navbar-default .navbar-nav .active>.nav-link, .navbar.navbar-default .navbar-nav .nav-tabs>li.active>a, .navbar.navbar-default .navbar-nav .nav-pills>li.active>a, .navbar-light ul.nav.navbar-nav>li.active>a, .navbar.navbar-default ul.nav.navbar-nav>li.active>a, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.in, .navbar-light .navbar-nav .nav-tabs>li>a.show, .navbar-light .navbar-nav .nav-tabs>li>a.in, .navbar-light .navbar-nav .nav-pills>li>a.show, .navbar-light .navbar-nav .nav-pills>li>a.in, .navbar.navbar-default .navbar-nav .nav-link.show, .navbar.navbar-default .navbar-nav .nav-link.in, .navbar.navbar-default .navbar-nav .nav-tabs>li>a.show, .navbar.navbar-default .navbar-nav .nav-tabs>li>a.in, .navbar.navbar-default .navbar-nav .nav-pills>li>a.show, .navbar.navbar-default .navbar-nav .nav-pills>li>a.in, .navbar-light ul.nav.navbar-nav>li>a.show, .navbar-light ul.nav.navbar-nav>li>a.in, .navbar.navbar-default ul.nav.navbar-nav>li>a.show, .navbar.navbar-default ul.nav.navbar-nav>li>a.in, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-tabs>li>a.active, .navbar-light .navbar-nav .nav-pills>li>a.active, .navbar.navbar-default .navbar-nav .nav-link.active, .navbar.navbar-default .navbar-nav .nav-tabs>li>a.active, .navbar.navbar-default .navbar-nav .nav-pills>li>a.active, .navbar-light ul.nav.navbar-nav>li>a.active, .navbar.navbar-default ul.nav.navbar-nav>li>a.active {
    color: #000;
    border: 1px solid #0000004a;
    box-shadow: 0px 1px 3px 0px #0000007a;
}
.selectize-control.single .selectize-input:not(.no-arrow):after {
 border-style: hidden;
}

#toast-container>div:hover {
    box-shadow: 0px 0px 1px 0px #00000054;
    opacity: 1;
}
.toast {
    max-width: 350px;
    font-size: .875rem;
    background-clip: padding-box;
    border: 2.5px solid rgb(20 255 25 / 10%);
}
#submit {
 height: 35.0px;
 border: 1px solid #767676;
 font-size: 13px;
 margin-left: 60px;
}
#registerButton{
  font-size: 13px;
 height: 35.0px;
 border: 1px solid #767676;
}

#transcripts{
  font-size: 13px;
 height: 35.0px;
 border: 1px solid #767676;
}
#register{
 font-size: 13px;
 margin-left: 25px;
 margin-top: 25px;
 height: 35.0px;
 border: 1px solid #767676;
}
.table th, .table td {
    padding: -0.5rem;
}
table.dataTable th.dt-right, table.dataTable td.dt-right {
    text-align: left;
}
table.dataTable {
 border-left: 1px solid #02020211;
 background-color: #f5f5f5;
}
.table thead th {
    vertical-align: text-bottom;
    background-color: #e9ecef;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    font-weight: 900;
    text-transform: capitalize;
}
.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
    background-color: #e9ecef;
    color: #212529;
}
.page-item.active .page-link {
    z-index: 3;
    border-radius: 20px;
    color: #484242;
    background-color: #ffffff;
    border-color: #164e8ba1;
    box-shadow: inset 0px 1px 11px 1px #5a5757;
}
.page-link:hover {
    border-color: #8a8b8d;
}
.page-link {
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 23px 4px;
}
.datatables-scroll .dataTable thead tr th,
.datatables-scroll .dataTable thead tr th.sorting, /* New selector */
.datatables-scroll thead tr td {
     position: sticky;
     background-color: #e9ecef;
}
.dataTables_scroll {
  overflow-y: scroll;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table th, .table td {
    vertical-align: top;
    border-bottom: 1px solid #02020211;
    border-right: 1px solid #02020211;
}
.table>thead>tr>th {
    border-top: 1px solid #02020211;
    border-bottom: 1px solid #02020211;
}
hr {
    border-top: 1px solid #c9c9c9;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: #212529;
}
table.dataTable.table-striped>tbody>tr.odd>* {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 0%);
}
.selectize-control.single .selectize-input:after {
  border-style: hidden
}
.btn-default {
    color: #000;
    background-color: #e9ecef;
    border-color: #ffffff;
}
.btn-default:hover {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}
table.dataTable.table-hover>tbody>tr:hover {
    box-shadow: inset 0 0 0 9999px #e9ecef;
}
table.dataTable.table-hover>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px #e9ecef;
}
.input-line {
 margin-top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: -25px;
      }
 .input-line .form-group {
        margin-right: 10px;
      }
       .id-field input::-webkit-inner-spin-button,
      .id-field input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
.selectize-control {
    margin-bottom: -5px;
}

.selectize-input.focus {
    border-color: #869bb1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.input-group-prepend {
    height: 34px;
    border-radius: 5px;
    margin-right: -4px;
    border: 1.5px solid #ced4da;
}
.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    box-shadow: 0 0 0 0 rgb(38 143 255);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle, .in>.btn-primary.dropdown-toggle {
    color: #007bff;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus, .in>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(38,143,255,0.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle, .in>.btn-primary.dropdown-toggle {
    color: #000;
}
button#registerButton {
    border: 1px solid #767676;
}
.input-group:active {
    opacity: 0;
}
#toast-container>div {
    box-shadow: 0 0 15px #00000054;
    opacity: 0.8;
      position: relative;
    pointer-events: auto;
    overflow: hidden;
    padding: 10px 10px 10px 50px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: #fff;
}
.btn-default:focus, .btn-default.focus {
    color: #000;
    background-color: #c8cfd6;
    border-color: #c1c9d0;
    box-shadow: 0 0 0 0.0rem rgb(189 192 196 / 50%);
}
.student_entry {
 align-items: center; 
 justify-content: center;
}

.modal-header {
 padding-bottom: 10px;
 padding-left: 10px;
 justify-content: center;
 border-top-left-radius: calc(0.3rem - -10px);
 border-top-right-radius: calc(0.3rem - -10px);
}
.modal.fade .modal-dialog {
    transition: transform 0.15s ease-out;
}
.modal-content {
 background-color: #e9ecef;
 border-radius: 5px;
 border: 0px solid rgb(0 0 0 / 0%);
 box-shadow: #000000a3 0px 0px 11px;
}
h4, h5, h6 {
    text-align: center;
    margin-top: 0rem;
    font-size: 1.2rem;
}
.modal-footer>* {
 padding-right: 0.25rem;
}
button#reset {
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 6px #2125299e;
}
div#exit_button {
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 0px 6px 0px #2125299e;
    margin-left: 89px;
}
h1, .h1 {
    text-align: center;
    font-size: 15px;
}
.bttn-unite.bttn-default {
    border-color: #7c7e81;
    color: #000000;
}
 .bttn-unite.bttn-md {
    font-size: 13px;
    border-radius: 5px;
    font-family: inherit;
    background-color: #3c8dbc;
    padding: 5px 12px;
    box-shadow: 0px 0px 5px #00000091;
}
.bttn-unite.bttn-default:focus, .bttn-unite.bttn-default:hover {
    background: #d6e3ff;
    color: #ffffff;
}
.bttn-unite.bttn-default:before{
    background: #7583a1;
}
.bttn-unite.bttn-default:after {
     background: #7583a1;
}
a#download {
    margin-top: -55px;
    margin-left: 180px;
}
.card, .well {
    background-color: transparent;
    border: 0px solid rgba(0,0,0,0.125);
}
.small-box {
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 0 1px 4px 1px rgb(78 74 74);
}
small, .small {
    font-size: 100%;
    font-weight: 700;
}
.leaflet-right .leaflet-control {
    margin-right: 80px;
}

.leaflet-top .leaflet-control {
    margin-top: 8px;
}
.info legend leaflet-control {
  margin-bottom: 7px;
  border-bottom: 1px solid #2c2c2c36;
  
}
div#flip {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bar{
 width: 90px;
}
.datepicker table tr td, .datepicker table tr th {
  border-radius: 5px;
}
.dropdown-menu {
 background-color: #dbd9c7;
 font-size: 0.9rem;
}
.modal-footer {
    align-self: center;
}
[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}
[data-title] {
    position: relative;
}
[data-title]:after {
    content: attr(data-title); 
    position: absolute;
    bottom: -2.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: #edf9f9;
    white-space: nowrap; 
    border-radius: 5px;  
    background-image: -moz-linear-gradient(top, #3d6464, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3d6464),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #3d6464, #cccccc);   
    background-image: -moz-linear-gradient(top, #3d6464, #cccccc);  
    background-image: -ms-linear-gradient(top, #3d6464, #cccccc);  
    background-image: -o-linear-gradient(top, #3d6464, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

button#close {
    border: 1px #b7b7e3 solid;
}
button#open {
    border: 1px #b7b7e3 solid;
}
.timeline-inverse>li>.timeline-item {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}
.timeline:before {
 background: #39cccc!important;
}
.box-header.with-border {
    box-shadow: 0 0 0px 0px #0000001f;
    border-bottom: 1px solid #02020211;
    
}
.timeline>li>.timeline-item>.timeline-header {
    font-weight: 600;
    font-size: 14px;
}
.box {
    border-radius: 5px;
    background: #ffffff9c;
    margin-bottom: 15px;
    margin-top: 15px;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
 font-weight: 600;
 font-size: 15px;
 color: #444;
}

.fa-regular, .far {
    font-weight: bolder;
    color: red;
    font-size: large;
}
button#ex {
    box-shadow: inset 0.1px 0.1px 2px 0px black;
}
.fa-user-edit:before, .fa-user-pen:before {
    zoom: 1.5;
    color: dodgerblue;
}
.fa-level-up-alt:before, .fa-turn-up:before {
    zoom: 1.5;
    color: darkgoldenrod;
}
div#remaining_time {
    font-size: x-large;
}
div#notice {
    text-wrap: balance;
    text-align: center;
}
.fa-marker:before {
    zoom: 1.5;
    color: brown;
}
.fa-user-graduate:before {
    zoom: 1.5;
}
.fa-money-check-alt:before, .fa-money-check-dollar:before {
    zoom: 1.5;
    color: darkblue;
}
.fa-ban:before, .fa-cancel:before {
    zoom: 1.5;
    color: red;
}
.fa-check:before {
    zoom: 1.5;
    color: forestgreen;
}
.box.box-solid.box-primary {
    border: 1px solid #0000002e;
}
.box.box-solid.box-primary>.box-header {
    color: #fff;
    background-color: #ff000000;
}
.moving-sentence {
        color: red;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
      }
.tabbable {
    padding-top: 60px;
}
.announcement_container {
    width: -webkit-fill-available;
}
.social {
    display: inline-block;
    padding-inline-start: 20px;
}
.p7 {
    zoom: 1.5;
    text-align: -webkit-center;
}
.nav-tabs {
    font-weight: 900;
    padding: 25px;
    border-bottom: 1px solid #c9c9c9;

}
.nav-tabs .nav-link, .nav-tabs>li>a, .nav-tabs .nav-pills>li>a, .nav-tabs ul.nav.navbar-nav>li>a {
    border: 0px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav>li>a:active, .nav>li>a:focus, .nav>li>a:hover {
    color: #444;
    border-radius: 5px;
    background: #e9ecef;
}
.nav-tabs .nav-link.active, .nav-tabs>li>a.active, .nav-tabs .nav-pills>li>a.active, .nav-tabs ul.nav.navbar-nav>li>a.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item.in .nav-link, .nav-tabs .nav-item.show .nav-tabs>li>a, .nav-tabs .nav-item.in .nav-tabs>li>a, .nav-tabs .nav-item.show .nav-pills>li>a, .nav-tabs .nav-item.in .nav-pills>li>a, .nav-tabs>li.show .nav-link, .nav-tabs>li.in .nav-link, .nav-tabs>li.show .nav-tabs>li>a, .nav-tabs>li.in .nav-tabs>li>a, .nav-tabs>li.show .nav-pills>li>a, .nav-tabs>li.in .nav-pills>li>a, .nav-tabs .nav-pills>li.show .nav-link, .nav-tabs .nav-pills>li.in .nav-link, .nav-tabs .nav-pills>li.show .nav-tabs>li>a, .nav-tabs .nav-pills>li.in .nav-tabs>li>a, .nav-tabs .nav-pills>li.show .nav-pills>li>a, .nav-tabs .nav-pills>li.in .nav-pills>li>a, .nav-tabs .nav-item.show ul.nav.navbar-nav>li>a, .nav-tabs .nav-item.in ul.nav.navbar-nav>li>a, .nav-tabs>li.show ul.nav.navbar-nav>li>a, .nav-tabs>li.in ul.nav.navbar-nav>li>a, .nav-tabs .nav-pills>li.show ul.nav.navbar-nav>li>a, .nav-tabs .nav-pills>li.in ul.nav.navbar-nav>li>a, .nav-tabs ul.nav.navbar-nav>li.show:not(.dropdown) .nav-link, .nav-tabs ul.nav.navbar-nav>li.in:not(.dropdown) .nav-link, .nav-tabs ul.nav.navbar-nav>li.show:not(.dropdown) .nav-tabs>li>a, .nav-tabs ul.nav.navbar-nav>li.in:not(.dropdown) .nav-tabs>li>a, .nav-tabs ul.nav.navbar-nav>li.show:not(.dropdown) .nav-pills>li>a, .nav-tabs ul.nav.navbar-nav>li.in:not(.dropdown) .nav-pills>li>a, .nav-tabs ul.nav.navbar-nav>li.show:not(.dropdown) ul.nav.navbar-nav>li>a, .nav-tabs ul.nav.navbar-nav>li.in:not(.dropdown) ul.nav.navbar-nav>li>a {
    background-color: #e9ecef;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #ffffff9c;
}
.selectize-input.full {
 background-color: #e9ecef;
}
div#student_name {
    text-align: center;
}
div#student_course {
    text-align: center;
}
.time {
    margin-left: 20px;
    text-align: center;
}
.fa-envelope:before {
    color: #3c8dbc;
    zoom: 0.8;
}

.progress {
    background-color: #a5a5a5;
}
.pagination>li>a {
    margin: 1px;
    border-radius: 20px;
}
.fa-x:before {
    color: red;
}

.fa-phone:before {
 zoom: 0.9;
}
